/* <============= Header Styles =============>  */
#header {
  width: 100%;
  font-size: 1.5rem;
}
.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
   max-width: 1200px;
  margin: 0 auto;
}

.acc-wrapper {
  display: flex;
}
.acc-component {
  cursor: pointer;
  margin-left: 10px;
}
.acc-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc-search > i {
  font-size: 1.8rem;
}
.header-nav {
  background-color: var(--primary-color);
}
.navigation {
    max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  
}
.nav-list {
  display: flex;
}
.nav-item {
    transition: all 0.2s ease-in-out;
}
.nav-item:hover{ 
    background-color: var(--primary-color-lighter);
}
.nav-item:hover > .nav-link{
    border-color: white;
}
.nav-item.active > .nav-link{
   border-color: white;
}
.nav-link{
    display:inline-block;
    padding: 16px 12px;
    color: white;
    transition: all .2s ease-in-out;
    border-bottom: 4px solid transparent;
}
.post {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.post:hover{
     background-color: var(--primary-color-lighter);

}
.post > i{
    margin-right: 5px;
    font-size: 1.8rem;
}

/* custom select options */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

